# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
map_3d/node_modules
terrain/node_modules
polyline/node_modules
cesium-webpack-app/node_modules
cesium-webpack-app/dist
cesium-webpack-app/package-lock.json

